.DS_Store
.sass-cache
*.sublime-workspace
*.sublime-project

# ignore node/bower files
node_modules
bower_components

# ignore jekyll build
_site

# ignore compiled js/css/img
/scripts
/styles/css
/images/svg/min
/images/png
/fonts
